<!-- Header -->
<header id="header-navbar" class="content-mini content-mini-full">
    <!-- Header Navigation Right -->
    <ul class="nav-header pull-right">
        <li>
            <img src="../../../../Content/Login/Imagem/pic2.png" height="90" width="200" />
        </li>
    </ul>
    <!-- END Header Navigation Right -->
    <!-- Header Navigation Left -->
    <ul class="nav-header pull-left">
        <li class="hidden-md hidden-lg">
            <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
            <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
                <i class="fa fa-navicon"></i>
            </button>
        </li>
        <li class="hidden-xs hidden-sm">
            <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
            <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
                <i class="fa fa-ellipsis-v"></i>
            </button>
        </li>
        <li>
            <!-- Opens the Apps modal found at the bottom of the page, before including JS code -->
            <button class="btn btn-default pull-right" data-toggle="modal" data-target="#apps-modal" type="button">
                <i class="si si-grid"></i>
            </button>
        </li>
        <li class="visible-xs">
            <!-- Toggle class helper (for .js-header-search below), functionality initialized in App() -> uiToggleClass() -->
            <button class="btn btn-default" data-toggle="class-toggle" data-target=".js-header-search" data-class="header-search-xs-visible" type="button">
                <i class="fa fa-search"></i>
            </button>
        </li>
    </ul>
    <!-- END Header Navigation Left -->
</header>
<!-- END Header -->

<script src="~/Content/Templates/Admin Template/js/core/jquery.min.js"></script>
<script src="~/Content/Templates/Admin Template/js/core//bootstrap.min.js"></script>
<script src="~/Content/Templates/Admin Template/js/core/jquery.slimscroll.min.js"></script>
<script src="~/Content/Templates/Admin Template/js/core/jquery.scrollLock.min.js"></script>
<script src="~/Content/Templates/Admin Template/js/core/jquery.appear.min.js"></script>
<script src="~/Content/Templates/Admin Template/js/core/jquery.countTo.min.js"></script>
<script src="~/Content/Templates/Admin Template/js/core/jquery.placeholder.min.js"></script>
<script src="~/Content/Templates/Admin Template/js/core/js.cookie.min.js"></script>
<script src="~/Content/Templates/Admin Template/js/app.js"></script>